<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="/drydrop-static/styles/reset-fonts-grids.css">
    <link type="text/css" rel="stylesheet" href="/drydrop-static/styles/default.css" />
    <link type="text/css" rel="stylesheet" href="/drydrop-static/styles/admin.css" />
    <script type="text/javascript" charset="utf-8" src="/drydrop-static/scripts/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/drydrop-static/scripts/jquery.jeditable.js"></script>
    <script type="text/javascript" charset="utf-8" src="/drydrop-static/scripts/admin.js"></script>
    <title>DryDrop Admin - {% block title %}{% endblock %}</title>
    {% block head %}
    <script type="text/javascript" charset="utf-8">
      var state = {
        source: '{{ settings.source }}'
      }
    </script>
    {% endblock %}
  </head>
  <body id="admin" class="{{params.action}} {{body_class}}">
    <div id="doc4" class="yui-t2">
      <div id="hd">
        <div class="yui-g">
          <div id="logo" class="yui-u first">
            {% block logo %}
				<img width="32" height="32" src="/drydrop-static/images/drydrop-icon.png">
              	<span><a href="/">DryDrop</a></span><span class="motto">deploy GAE sites by pushing to GitHub</span>
            {% endblock %}
          </div>
          <div id="userinfo" class="yui-u">
            {% block userinfo %}
            <ul>
              <li>
                <strong>{{user.email()}}</strong> |
              </li>
              <li>
                <a href="https://www.google.com/accounts/ManageAccount">My Account</a> |
              </li>
              <li>
                <a href="http://code.google.com/appengine">Help</a> |
              </li>
              <li>
                <a href="{{users.create_logout_url('/')}}">Sign out</a>
              </li>
            </ul>
            {% endblock %}
          </div>
        </div>
      </div>
      <div id="bd">
        <div id="error">
          {% block error %}
          {% endblock %}
        </div>
        <div id="appbar">
          {% block appbar %}
            Pulling from <span class="sitename"><a href="{{settings.source}}">{{ settings.source }}</a></span>
          {% endblock %}
        </div>
        <div id="yui-main">
          <div class="yui-b">
            {% block main %}
            {% endblock %}
          </div>
        </div>
        <div class="yui-b">
          {% block side %}
          <div id="nav">
            <ul>
              <li id="nav-index">
                <a title="Review application status" href="/admin/index">Dashboard</a>
              </li>
              <li id="nav-settings">
                <a title="Settings pane" href="/admin/settings">Settings</a>
              </li>
              <li id="nav-cache">
                <a title="Cached files" href="/admin/cache">Cache</a>
              </li>
              <li id="nav-config">
                <a title="Configuration screen" href="/admin/config">Config</a>
              </li>
              <li id="nav-domains">
                <a title="Domains hosted" href="/admin/domains">Domains</a>
              </li>
            </ul>
          </div>
          {% endblock %}
        </div>
      </div>
      <div id="ft" class="yui-g">
      </div>
    </div>
  </body>
</html>
