html { 
    font-family: Arial, sans-serif;
    font-size: 130%;
}

body {
    margin: 20px;
}

strong, em, b {
    font-weight: bold;
}

a, a:visited, a:hover {
    color: #00d;
}

h1 {
    font-size: 180%;
    font-weight: bold;
    margin-bottom: 8px;
}

h2 {
    font-size: 120%;
    font-weight: bold;
}

li {
    line-height: 1.5em;
}

#error .top {
    padding: 10px;
    padding-left: 20px;
    border-top: 2px solid #f00;
    background-color: #fdd;
}

#error h1 {
    color: #d00;
    display: inline;
}

#error h2 {
    color: #d00;
    display: inline;
    padding-left: 6px;
}

#error .description {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
}

#logo {
    position: relative;
    top: -10px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 20px;
}

#logo img {
    position: relative;
    top: 8px;
}
#logo .motto {
    font-size: 50%;
    margin-left: 6px;
    font-weight: normal;
    position: absolute;
    top: 35px;
    left: 35px;
}

#logo a {
    color: black;
    text-decoration: none;
}

.form {
    width: 100%;
    margin-bottom: 20px;
}

.form .field {
    line-height: 23px;
    font-size: 110%;
    border-bottom: 10px solid #fff;
    height: 32px;
}

.form .label {
    font-size: 90%;
    width: 100px;
    color: black;
    background-color:#E5F9EC;
    padding: 4px 6px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

.form .edit:hover {
    background-color: #ffa;
}

.form .edit {
    cursor: pointer;
    font-weight: bold;
    margin: 0px 10px;
    padding: 4px 10px;
    font-family: 'Courier';
    overflow: hidden;
    color: #00a;
}

.form .edit input {
    font-weight: bold;
    font-family: 'Courier';
    margin: 0px;
    padding: 0px;
}

.form .field button {
    margin-left: 8px;
}

.form .placeholder {
    color: gray;
}

.form-section {
    background-color: #E5F9EC;
    border-top: 1px solid #33CC66;
    font-size: 140%;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding: 5px 10px;
}
