body {
    text-align: left;
    font-size: 100%;
    margin: 20px;
}

div.info {
    margin-top: 10px;
    width: 800px;
}

div.welcome {
    margin-top: 50px;
    width: 800px;
}

p {
    margin-top: 10px;
}

div.homepage {
    margin-top: 50px;
    width: 800px;
}