#main-about 
    line-height 14px
    
    .about-more
        margin-right 30px
        margin-top 60px
        margin-bottom -30px

    .container
        padding-top 50px

    .strong
        font-size 14px
        line-height 20px
        margin-bottom 10px

    .about-intro, 
    .about-story
        margin-bottom 70px

    .about-title
        font-size 20px

    .about-name
        font-size 26px

    .about-contact
        margin-top: 40px;

    .about-contact h2
        margin: 0;

    .about-email
        margin-top: -6px;
        font-weight: bold;
        margin-bottom: 10px;

    .about-linkedin
        display: none;
        margin-top: 26px;
        margin-bottom: 20px;

    .about-github
        font-weight: bold;

    .about-github img
        position: relative;
        top: -2px;
        border: 1px solid #ccc;
        border-radius: 2px;
        vertical-align:middle;

    .about-blog
        font-weight: bold;
        margin-bottom: 26px;
        margin-top: 4px;

    .about-blog img
        vertical-align:middle;    
        border: 0;
        position: relative;
        top: -1px;

    .about-side
        text-align: right;
        position: relative;

    .about-side-photo
        position relative
        height 480px

    .about-side-photo img
        display: block;
        position: absolute;
        right: 0;