html
    height 101%

body
    background #f2f2f2 url('/shared/img2/background.png') repeat top left
    font basic-font
    
a
    color link-color
    text-decoration none
    transition color tspeed ease 0s
    
a:hover,
a:focus
    color selection-color !important
    
.container
    relative() // important for absolute positioned elements inside main area
    
.google-pray
    color #eee
    
li
    line-height 18px
    
h1, h2, h3, h4, h5, h6
    margin-top 30px
    margin-bottom 10px
    
h2 
    font-size 20px

h3 
    margin-top 12px
    font-size 16px

h4
    margin-top 10px

h5, h6
    margin-top 6px

    
p
    font-size 13px
    line-height 18px

pre
    border-radius 4px
    margin: 1em 0 !important;
    background-color: #000 !important;
    padding: 2px 6px !important;
    line-height: 1.5em !important;
    overflow: auto !important;

code
    font-family: Courier;
    font-size: 12px;
    background-color: #f8f8ff !important;
    color: #444 !important;
    padding: 1px 4px !important;
    border: 1px solid #dedede !important;
    border-radius 2px
    whitespace nowrap

pre code
    color: #fff !important;
    padding: 0 !important;
    background-color: #000 !important;
    border: none !important;
    whitespace pre