#gallery.overlay
    z-index 10000
    width 1590px
    height 880px
    background-image url('/shared/img/nbair1.png')

    .overlay-progress
        left 280px
        top 22px

    .close
        background-image: url('/shared/img/overlay/close.png');
        position:absolute;
        left:238px;
        top:18px;
        cursor:pointer;
        height:35px;
        width:35px;

    #img
        relative(top 64px left 282px)

    .overlay-next, 
    .overlay-prev
        padding 10px
        border 2px solid #666
        width 30px

    .overlay-prev
        left 220px

    .overlay-next
        right 220px

    .overlay-info
        display none !important

    .overlay-lesk
        absolute(top 64px right 284px)
        z-index 500
        opacity 0.5