.overlay
    display none

    .overlay-next, 
    .overlay-prev
        absolute(top 40%)
        border 1px solid #666
        cursor pointer
        display block
        padding 10px 20px
        color #fff
        font-weight bold
        font-size 14px
        border-radius 5px

    .overlay-prev
        left 0px
        border-left 0
        border-radius top left 0
        border-radius bottom left 0

    .overlay-next
        right 0px
        border-right 0
        border-radius top right 0
        border-radius bottom right 0

    .overlay-next:hover, 
    .overlay-prev:hover
        text-decoration underline
        background-color #000
        color #FFFEE9 !important

    .disabled-overlay
        visibility hidden

    .overlay-info
        absolute()
        bottom 0
        left 0
        right 0
        padding 2px 24px
        color #fff
        font-weight bold
        font-size 14px
        border-top 1px solid #666

    .overlay-progress
        absolute(top 6px left 6px)
        display none

    .overlay-next, .overlay-prev, .overlay-info
        background-color #000 !important