.main-product
    margin-top 50px
    
    .social-box
        absolute(left 86px)
        margin-top 16px
    
    .main-product-left
    
        .product-logo-box
            relative()
            padding-top 10px
            padding-right 20px
            padding-left 85px
            padding-bottom 10px
    
            .product-icon
                absolute(left -6px)
                width: 64px;
                height: 64px;
                
            .product-title
                font product-title-font
                color: product-title-color
                text-shadow #FFF 0px 1px 1px
                line-height 40px
                margin 0px
                margin-top 2px
                display inline-block

            .plusone-wrapper
                margin-left 20px
                display inline-block

            .product-subtitle
                font product-subtitle-font
                color product-subtitle-color
                text-shadow #FFF 0px 2px 1px
                line-height 20px
                margin-top 0px

            .facebook-like-box
                margin 0px
                margin-top 16px
                min-height 40px
        
        .product-buttons-box
            margin-top: 14px;
            margin-left: 85px;
            relative()
            
            .product-click-here
                sprite(370px, 10px, 80px, 30px)
                absolute(top 28px left -90px)
        
            .product-note
                text-shadow #FFF 0px 1px 1px
                font-size 12px
                line-height 14px
                margin-bottom 30px
                width 302px

            .product-buttons
                relative()
                width 302px
                
                .button
                    width 100%
                    
                .product-button-play
                    product-button(-16px, 244px)

                .product-button-warning
                    overflow hidden
                    product-button(958px, 68px)

                .product-button-download
                    overflow hidden
                    product-button(-16px, 302px)

                .product-button-buy
                    product-button(-16px, 358px)

                .product-button-thumbup
                    overflow hidden
                    product-button(573px, 70px)

                    .trial-note
                        background-color #3AAA00
            
                .price-tag
                    sprite(544px, 253px, 68px, 28px)
                    absolute(right -14px top 8px)

                .price-tag-totalspaces
                    sprite(544px, 280px, 68px, 28px)
                    absolute(right -14px top 8px)
            
                .reasons-to-buy
                    relative(top -3px)
                    text-align right
                    text-shadow #FFF 0px 1px 1px
                    font-size 10px
                    line-height 13px
                    
                    a
                        color minor-link-color

    .main-product-right
        relative()

        // this is just something generated by slideshow plugin
        .product-thumbs-box 
            display none

        .screenshot-controls
            absolute(top 330px left 39px)

            .teaser-box
                absolute(top 0px left 30px)
            
                .teaser-hint
                    sprite(626px, 10px, 88px, 30px)
                    absolute(top 0px left 0px)

                .teaser-button
            
                    div
                        width 1px
                        height 1px
                        absolute(top -290px left 370px)
                        cursor pointer 

            .navi-box
                absolute(top 4px left 156px)
                width 100px

                .navi-hint
                    sprite(480px, 10px, 130px, 30px)
                    absolute(top 0px left 90px)
                
                .navi
                    a
                        sprite(299px, 127px, 12px, 12px)
                        relative()
                        float left
                        margin 2px
                        outline none

                    a:hover
                        outline none
                        opacity 0.6
                        sprite(284px, 127px, 12px, 12px)
                        relative()
                
                    a.active
                        outline: none;
                        sprite(284px, 127px, 12px, 12px)
                        relative()

        .main-screenshot
            relative(top 10px)
            
            .screenshot-box
                absolute()
                width 470px
                height 310px
                background #f2f2f2 url('/shared/img2/screenshot-shadow.png') repeat top left;
            
                .overlayable
                    display block
                    absolute(left 9px top 4px)
                    overflow hidden
                    width 452px
                    height 293px

                &.no-shadow 
                    background none
                    
                    .overlayable
                        overflow visible
                    
                    .video-icon
                        display none
                
                img
                    absolute(top -14px)
                    max-width 470px
            
                .zoom-icon
                    cursor pointer
                    sprite(709px, 216px, 75px, 75px)
                    absolute(top 40% left 45%)
                    transition opacity tspeed ease 0s
                    opacity 0

                &:hover .zoom-icon
                    opacity 1

                .video-icon
                    transition opacity tspeed ease 0s
                    cursor pointer
                    padding 6px 30px 
                    transform rotate(45deg)
                    absolute(top 30px right -34px)
                    text-shadow #999 0px 1px 1px
                    box-shadow 0px 1px 4px #666
                    line-height 16px
                    font-weight bold
                    text-align center
                    background-color #72B210
                    transition background-color tspeed ease 0s
                    color white
                    
                    &:hover
                        background-color #4E8A00
                        

#main-tabs
    relative()
    
.tab-bar
    text-align center
    width 100%
    absolute(top -29px)
    overflow hidden
    max-height 30px

.tabs
    text-shadow 1px 1px 0px #fff
    list-style none
    margin 0
    padding 0  
    clear both
    border-bottom 1px solid #ddd7d7
    display inline-block

    li
        float left
        text-indent 0
        padding 0
        margin 0
        list-style-image none !important
        margin-right 8px
        
    a
        relative(top 0px)
        text-shadow 1px 1px 0px #fff
        font-weight bold
        font-size 14px
        display block
        height 30px  
        line-height 30px
        width 110px
        text-align center
        text-decoration none
        color #666
        padding 0px
        margin 0px
        border-radius top 4px
        border 1px solid #ddd7d7
        outline none
        background-color #f7f7f7

        .shadow
            absolute(bottom -29px left 0px)
            right 0px
            box-shadow 0px 0px 4px #aaa
            height 30px

    a:hover
        color:#000;
        background-color: #f5f5f5;
        
    li.current
        .shadow
            display none

    a.current, 
    a.current:hover
        cursor:default !important; 
        border: 1px solid #ddd7d7;
        border-bottom: 1px solid #fff;
        background-color: #fff;
        color:#000 !important;
        
        .shadow 
            display none
        

.panes
    border: 1px solid #ddd7d7;

    background-color: #fff;
    border-radius 8px
    text-align left
    margin-top 90px
    box-shadow 0px 1px 3px #ddd

    .pane
        display none

    > div
        display none
        padding 20px
