.wikistyle ul, .wikistyle ol {
    padding-left: 5px;
}

.wikistyle h1 {
}
 
.wikistyle h2 {
    display: none;
    font-size: 20px;
}
 
.wikistyle h3 {
    margin-top: 30px;
    font-weight: bold;
}
 
.wikistyle p {
    margin: 1em 0 !important;
    margin-bottom: 0px !important;
    line-height: 1.5em !important;
}

.wikistyle > ul > li {
    margin-top: 3px !important;
}
 
.wikistyle li p {
    margin: 0px !important;
}

.wikistyle ul {
    margin: 1em 0 1em 1.3em !important;
}
 
.wikistyle ul {
    margin-top: 0 !important;
    margin-bottom: 0px !important;
}

.wikistyle > ul {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
 
.wikistyle ol {
    margin: 1em 0 1em 1.5em !important;
}
 
.wikistyle ol ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
 
.wikistyle blockquote {
    margin-bottom: 1em 0 !important;
    margin-top: 0px;
    border-left: 5px solid #ddd !important;
    padding-left: .6em !important;
    color: #555 !important;
}
 
.wikistyle dt {
    font-weight: bold !important;
    margin-left: 1em !important;
}
 
.wikistyle dd {
    margin-left: 2em !important;
    margin-bottom: 1em !important;
}
 
.wikistyle table {
    margin: 1em 0 !important;
}
 
.wikistyle table th {
    border-bottom: 1px solid #bbb !important;
    padding: .2em 1em !important;
}
 
.wikistyle table td {
    border-bottom: 1px solid #ddd !important;
    padding: .2em 1em !important;
}

.wikistyle hr {
    margin-top: 24px;
    margin-bottom: 30px;
}