.image404
    margin-top -50px
    display block
    width 950px
    height 150px 
    background transparent url('/base/img/matrix404.png') no-repeat 0px 0px

.error404
    font-weight bold
    margin-top 30px
    font-size 28px
    line-height 28px
    text-shadow #FFF 0px 1px 1px
    text-align center

.desc404
    margin-top 0px
    font-size 20px
    line-height 30px
    text-align center

.home404
    font-weight bold
    margin-top 20px
    font-size 20px
    text-align center