// fonts
//font-name = 'Droid Sans'
font-name = 'Play'

basic-font = 12px font-name, arial, serif;
droid-font = 12px font-name, arial, serif;
footer-font = 12px font-name, arial, serif;
topbar-font = bold 11px font-name, arial, serif;
menu-font = bold 14px font-name, arial, serif;
product-title-font = bold 38px font-name, arial, serif;
product-subtitle-font = 16px font-name, arial, serif;
product-button-font = bold 20px font-name, arial, serif;
product-specs-font = 10px font-name, arial, serif;
product-info-font = 10px font-name, arial, serif;
minor-button-font = bold 16px font-name, arial, serif;
highlight-title-font = bold 14px font-name, arial, serif;
highlight-text-font = 12px font-name, arial, serif;
tiny-button-font = bold 10px font-name, arial, serif;
www-product-font = bold 20px font-name, arial, serif;
doc-side-font = bold 12px font-name, arial, serif;
doc-side-title-font = bold 18px font-name, arial, serif;
doc-main-title-font = bold 30px font-name, arial, serif;
blog-post-title-font = bold 20px font-name, arial, serif;
store-header-font = bold 20px font-name, arial, serif;
store-product-title-font = bold 24px font-name, arial, serif;
store-product-description-font = 12px font-name, arial, serif;
store-product-price-font = bold 16px font-name, arial, serif;
store-product-button-font = bold 11px font-name, arial, serif;
tweets-font-family = arial, serif

// colors
topbar-color = #aaa
topbar-bg-color = #61656f

menu-color = #6c717b
menu-selected-color = #000

header-separator-color = #e1e1e1

product-title-color = #393d44
product-subtitle-color = #303137

highlight-title-color = #393d44
highlight-text-color = #8d9198

product-button-color = #8d9198
product-button-hover-color = #e1e1e1

tiny-button-color = #8d9198

minor-link-color = #555
link-color = #4F6393
selection-color = #0F56B3

doc-main-title-color = #393d44
doc-side-title-color = #4A4C53

blog-post-title-color = #444951

store-header-color = #b5b5b5
store-product-title-color = #393e46
store-product-description-color = #6c6c6c
store-product-price-color = #6c6c6c
store-product-button-color = #fff

// assets
blog-assets = '/base/img2/assets-blog.png'

tspeed = 0.5s
