#page-store-template
    .topbar-testimonials
        display none !important

#store-variation-selection-body
    width 300px !important
    
#main-store
    .container
        text-align center

.store-box
    background-color #fff
    border-radius 12px
    border 1px solid #ddd7d7
    box-shadow 1px 1px 8px #ddd
    margin auto
    margin-top 58px
    margin-bottom 10px
    width 660px
    text-align left
    relative()
    
    .store-header
        border-radius top 12px
        height 50px
        border-bottom 1px solid #e9e9e9
        background-color #f7f7f7
        background linear-gradient(top, #fff, #f7f7f7)
        relative()
        
        .store-header-title
            color store-header-color
            font store-header-font
            line-height 50px
            margin-left 62px
            
        .store-header-icon
            sprite(584px, 119px, 43px, 30px)
            absolute(left 20px top 10px)

    .store-tools 
        absolute(top 4px right 22px)
        
    .core-window
        padding 24px 20px 40px 20px
        
        .store-product-option-title
            table 
                width 300px
        
        .store-product-option-display
            color store-product-title-color
            font-weight bold !important
            font-size 16px
            
        .store-product-option-price
            text-align right
            display inline-block
        
        .product-row
            border-bottom 1px dashed #ddd
            
            &.last-row
                border-bottom none

            .product-image
                float left
                width 170px
                
                img
                    margin 14px auto !important
                    padding 0
                    display block
                
            .product-info
                float left
                width 318px
                padding 10px 16px
                padding-top 44px
                
                .product-title
                    color store-product-title-color
                    font store-product-title-font
                    margin-bottom 10px
                
                .product-description
                    color store-product-description-color
                    font store-product-description-font
                    line-height 18px
                    padding-right 20px
                
            .product-actions
                float left
                width 100px
                padding-top 50px
                text-align center
                
                .product-price
                    color store-product-price-color
                    white-space nowrap
                    font store-product-price-font
                    margin-bottom 12px
                    background-color #fff
                    display inline-block
                    
                .product-buy
                    .store-action
                        .store-action-title
                            color store-product-button-color
                            font store-product-button-font
                            display inline-block
                            margin auto
                            background-color #399fd2
                            background linear-gradient(top, #399fd2, #2688c5)
                            border 1px solid #2381bf
                            border-radius 7px
                            width 80px
                            line-height 14px
                            white-space normal
                            padding 6px 8px
                            text-transform uppercase
                            text-shadow #226699 0px 1px 2px
                            box-shadow 0px 1px 2px #999
                            height auto !important
                            
                            &:hover
                                color #FEF79A

.core-section-header
    font-weight bold
    font-size 16px
    line-height 16px
    margin 0
    margin-bottom 16px

.store-order-item-offers
    padding 0
    margin 0
    clear both

.store-order-price-label
    width 500px

.store-order-items    
    relative()
    
.store-order-item-group
    padding-top 10px !important
    padding-bottom 10px
    padding-right 20px
    padding-left 2px
    margin 0 !important
    margin-top 10px !important
    border-top none !important
    border-bottom 1px dashed #e5e5e5
    relative()
    
.store-order-item-group-action-list
    absolute(top -1px right 114px)
    padding 0
    margin 0
    clear both
    
.store-order-item-action-delete
    .store-action-title
        overflow hidden
        max-width 0px
        sprite(598px, 158px, 18px, 18px)
        absolute(top 9px right -122px)
        
.store-order-item-action-quantity
    .store-action-input
        overflow hidden
        width 30px
        absolute(top 1px right 26px)
    
.store-order-item-action-quantity
    .store-action-title
        overflow hidden
        max-width 0px
        absolute(top 10px right 0px)

.store-order-price
    margin-top 4px
        
.core-section,
.store-product-detail
    background transparent url(/base/img2/store-section-separator.png) no-repeat left bottom
    padding-bottom 20px
    clear both
    
    .core-section-header
        display none
    
    .core-section-body
        padding-left 0px
    
.store-box
    code 
        font-size 12px !important

    ul 
        margin 0px !important
        list-style-type none !important
        
    .core-messages
    
        ul
            padding 2px 10px
    
        li
            background none !important
            padding 0px  !important

    input
        border-radius 5px !important
        border 3px solid #d5d5d5 !important
        color #666 !important
        background none !important
        background-color #fff !important
        
    select
        width 100%
        
    .store-order-item-base-title
        font-size 16px
        line-height 16px
    
    .store-value-money
        font-size 16px
        line-height 16px
        font-weight bold
        color #999
        
    .store-order-price
        .store-value-money
            color #000

    .store-product-pricing-tiered-table-price
        .store-value-money
            font-size 12px
            line-height 12px
            color #000
            
    .store-product-pricing-tiered-table
        border 1px solid #ddd
        border-radius 3px
        
    .store-product-pricing-tiered-table th
        border-bottom 1px solid #ddd
        background-color #eee
    
    .store-order-pricing
        margin 0
        padding-top 20px
        border-top 1px solid #e5e5e5
        relative(top -1px)
        
        .store-order-price-value
            padding-right 20px
            
        .store-order-price-label
            font-size 14px
            line-height 18px
            font-weight normal
            color #999
            
    .core-form-field-label
        width 90px
        whitespace nowrap
        
        label
            font-weight normal
            font-size 9px
            line-height 18px
            relative(top -1px)
            color #666
            
    .store-section-customer-details
        .core-form-field-area-right,
        .core-form-field-area-left
            width 300px
            
        .core-form-field-area-right
            relative(left 40px)

        input,
        select
            float right
            width 180px
            margin 3px 0px 
            relative(top -28px)
            
        select
            width 192px
    
        .core-form-field-body-note
            float right
            width 192px
            color #aaa
            relative(top -22px)    
            
    .store-payment-method-list
        list-style-type none
        
    .store-action-next,
    .store-action-complete,
    .store-product-detail-action-order
        .store-action-command
            border none !important
            background none !important
            
        .store-action-title
            text-align center
            color store-product-button-color
            font store-product-button-font
            display inline-block
            margin auto
            background-color #399fd2
            background linear-gradient(top, #399fd2, #2688c5)
            border 1px solid #2381bf
            border-radius 7px
            width 80px
            line-height 14px
            white-space normal
            padding 6px 8px
            text-transform uppercase
            text-shadow #226699 0px 1px 2px
            box-shadow 0px 1px 2px #999
            height auto !important
        
            &:hover
                color #FEF79A
                
    .store-order-action-edit
        display none
        
    .store-order-item-action-edit
        display none
        
    .store-order-item-child
        display none
        
    .core-form-field-group-body
        relative()
        
        .store-field-cc-expire
            absolute(right 0px top -9px)
        

.store-action,
    .store-action-title
        font-size 11px
        display inline-block
        height 16px

.store-product-detail-offer
    .store-product-detail-offer-title
        font-size 11px
        display inline-block
        height 16px
        
.store-order-action-list
    margin 0
    padding 0
    clear both

    .store-order-action-more
        absolute(top -28px left 2px)
        display none

.core-form-field-group-header
    margin-top 20px
    margin-bottom 16px
    font-size 14px
        
.store-payment-method-list
    padding 0
    margin 0
    
    li 
        margin-bottom 6px

.store-order-action-coupon
    absolute()
    
    & > *
        relative(top -26px)

    .store-action-title
        margin-right 8px
        margin-left 16px
        
.store-page-navigation
    border none
    text-align center
    margin 0
    padding 0
    padding-top 10px
    
    .store-action-list
        margin 0 !important
        padding 0 !important
        display inline-block
    
.store-product-detail
    relative()

    .store-product-detail-title
        display block
        margin 0px
        color store-product-title-color
        font store-product-title-font
        padding-top 54px
        
    .store-product-detail-image
        float left
        width 170px
        margin-right 10px
    
        img
            margin 14px auto !important
            padding 0
            display block
            
    .store-product-detail-description-short
        color store-product-description-color
        font store-product-description-font
        line-height 18px
        
    .store-product-detail-quantity
        absolute(right 0px top 78px)
        
    .store-product-detail-pricing
        absolute(right 0px top 50px)
        
    .store-product-detail-offers
        margin-top 0px