.main-dim {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.2;
    position: relative;
}

.main-overlay {
    z-index: 9;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}


#tweets {
    position: absolute;
    font-family tweets-font-family
}

.tweet .loading img {
    position: relative;
    top: 3px;
    left: -2px;
}

.tweet .loading {
    color: #999;
}

.tweet .col {
    width: 470px;
    float: left;
}

.tweet #tweets-col-2 {
    margin-left: 10px;
}

ol.statuses {
    width: 100%;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ol.statuses a {
    text-decoration: none;
}

ol.statuses a:hover {
    text-decoration: underline;
}

ol.loading {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(http://s.twimg.com/a/1257465343/images/petal_spinner.gif) no-repeat scroll center 50px;
    height: 300px;
    opacity: 0.3;
}

ol.statuses li.status, ol.statuses li.direct_message {
    line-height: 13px;
    padding: 0.7em 0 0.6em;
}

ol.statuses > li:first-child {
}

ol.statuses .thumb {
    display: block;
    height: 50px;
    left: 8px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: absolute;
    width: 50px;
}
ol.statuses .thumb img{
    height: 48px;
    width: 48px;
}

.more-praise {
    display: none;
    font-size: 10px;
    position: absolute;
    right: 6px;
    bottom: 2px;
}

.no-results {
    border-top: 1px dashed #D2DADA;
    font-size: 1.2em;
    padding: 0.7em 0 0.6em 1em;
}

.no-results ol {
    padding: 5px 0 0 30px;
}

ol.statuses span.status-body {
    display: block;
    margin-left: 64px;
    min-height: 54px;
    overflow: hidden;
    margin-right: 8px;
}

ol.statuses span.status-body .lock {
    margin-right: 0.4em;
}

#users ol.statuses span.status-body {
    width: 365px;
}

ol.statuses .embedded_media_icon {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(http://s.twimg.com/a/1257465343/images/inline-media.png) no-repeat scroll left bottom;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 20px;
    z-index: 400;
}
ol.statuses .embedded_picture {
    margin: 10px 0 0;
    text-align: center;
}
ol.statuses .embedded_picture img {
    border: 2px solid #DDDDDD;
    padding: 10px;
}
.search ol.statuses .bio {
    margin-left: 5px;
}
.meta {
    color: #999999;
    display: block;
    font-size: 9px;
    margin: 3px 0 0;
}
.meta a {
    color: #999999;
}
.meta .call-out {
    color: #000000;
}
ol.statuses .actions {
    border-width: 0;
    line-height: 1.25em;
    position: absolute;
    right: 10px;
    top: 8px;
}
.ie6 ol.statuses .actions {
    right: 25px;
}
.actions a {
    text-decoration: none;
}
ol.statuses li:hover .actions span, ol.statuses li.hover .actions span, ol.statuses li.perma-hover .actions span, ol.statuses li:hover .actions a, ol.statuses li.hover .actions a, ol.statuses li.perma-hover .actions a {
    visibility: visible;
}
ol.statuses li.no-hover .actions span, ol.statuses li.no-hover .actions a {
    visibility: hidden !important;
}
.actions .non-fav, .actions .fav-throb, .actions .fav, .actions .reply {
    margin-bottom: 3px;
}
.hentry .non-fav, .hentry .fav, .actions .reply {
    background-image: url(http://s.twimg.com/a/1257465343/images/sprite-icons.png);
    cursor: pointer;
    display: block;
    height: 15px;
    visibility: hidden;
    width: 15px;
}
.hentry .fav-throb {
    background-position: 50% 50%;
    display: block;
    height: 15px;
    width: 15px;
}
.hentry .fav {
    background-position: -64px 0;
}
.hentry .non-fav {
    background-position: -32px 0;
}
.hentry .non-fav:hover {
    background-position: -48px 0;
}
.hentry .fav-throb, .hentry .del-throb {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_throbber.gif);
}
.hentry .del {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_trash.gif);
}
.direct_message a.reply {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_direct_reply.gif);
}
.direct_message .hentry .del {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_trash.gif);
}
ol.statuses li:hover, ol.statuses li.perma-hover, ol.statuses li.hover {
}
ol.statuses li:hover .hentry a, ol.statuses li.perma-hover .hentry a, ol.statuses li.hover .hentry a {
    visibility: visible;
}
ol.statuses .hentry a.fav {
    visibility: visible;
}

#tweet-loader .thumb img {
    width: 31px;
    height: 31px;
    margin-top: 8px;
    margin-left: 8px;
}

#tweet-loader .status-body {
    padding-top: 14px;
    font-weight: bold;
    color: #888;
}

.post-content li p {
    margin: 0;
}


#tweets-section {
    z-index: 10;
    position: absolute;
    top: 105px;
    width: 100%;
}

.hentry {
    position: absolute;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
    padding: 8px 8px;
    width: 300px;
    background-color: #fff;
    font-size: 11px;
    margin: 10px;
    -webkit-box-shadow: #aaa 0px 0px 4px;
    -moz-box-shadow: 0px 0px 4px #aaa;
}

.opera .hentry {
    border: 1px solid #aaa;
}

.card-fade-out > * {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.3;
}

#tweets .hover {
}

#tweets .hover .more-praise {
    display: block;
}
