{% if page.meta_title %}
<meta name="title" content="{{page.title}}" />
{% endif %}
{% if page.meta_description %}
<meta name="description" content="{{page.meta_description}}" />
{% endif %}
{% if page.meta_keywords %}
<meta name="keywords" content="{{page.meta_keywords}}" />
{% endif %}
{% if page.meta_image %}
<link rel="image_src" href="{{page.meta_image}}" />
{% endif %}
<meta name="google-site-verification" content="N_xzdr6ymSUQFhAEvQg7f-sp1JAeJCdW2JuaRg-da0w" />
<meta property="fb:admins" content="antonin.hildebrand" />
{% if page.ogmeta %}
    {% if page.ogmeta.email %}
        <meta property="og:email" content="{{page.ogmeta.email}}" />
    {% endif %}
    {% if page.ogmeta.description %}
        <meta property="og:description" content="{{page.ogmeta.description}}" />
    {% endif %}
    {% if page.ogmeta.site_name %}
        <meta property="og:site_name" content="{{page.ogmeta.site_name}}" />
    {% endif %}
    {% if page.ogmeta.type %}
        <meta property="og:type" content="{{page.ogmeta.type}}" />
    {% endif %}
    {% if page.ogmeta.title %}
        <meta property="og:title" content="{{page.ogmeta.title}}" />
    {% endif %}
    {% if page.ogmeta.url %}
        <meta property="og:url" content="{{page.ogmeta.url}}" />
    {% endif %}
    {% if page.ogmeta.image %}
        <meta property="og:image" content="{{page.ogmeta.image}}" />
    {% endif %}
{% endif %}