{% if page.nogauges != 1 %}
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    {% if page.gauge %}
    t.setAttribute('data-site-id', '{{page.gauge}}');
    {% else %}
    t.setAttribute('data-site-id', '4f10d65d844d52139500000b');
    {% endif %}
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
{% endif %}
