{% extends "welcome/layout.html" %}
{% block title %}Welcome!{% endblock %}
{% block body %}
<div class="info">
  <p>Congratulations! You've just uploaded your DryDrop application.</p>
  <p>You may log into <a href="/admin">admin section</a> and configure your site.</p>
</div>

<div class="welcome">
  <h2>First time here?</h2>
  <p>
    Right now, after first installation your DryDrop site is pulled from<br/>
    <a href="http://github.com/darwin/drydrop/tree/master/tutorial">http://github.com/darwin/drydrop/raw/master/tutorial</a>.
  </p>
  <p>
    It is an example tutorial site updated from <a href="http://github.com">GitHub</a>. 
    It is suitable for testing your new installation and a good starting point to get familiar with DryDrop.
  </p>
  <p>
    Please continue to <a href="/start.html">start page</a>, if you are interested in test drive.
  </p>
</div>
<div class="homepage">
  <h2>DryDrop Homepage</h2>
  <p>
    You may visit <a href="http://drydrop.binaryage.com">http://drydrop.binaryage.com</a> to get latest info.
  </p>
</div>
{% endblock %}