<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/drydrop-static/styles/reset-fonts-grids.css">
    <link type="text/css" rel="stylesheet" href="/drydrop-static/styles/default.css" />
    <link type="text/css" rel="stylesheet" href="/drydrop-static/styles/welcome.css" />
    <title>DryDrop - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="logo">
      {% block logo %}
		<img width="32" height="32" src="/drydrop-static/images/drydrop-icon.png">
        <span><a href="/">DryDrop</a></span><span class="motto">deploy GAE sites by pushing to GitHub</span>
      {% endblock %}
    </div>
    {%block body%}{% endblock %}
  </body>
</html>