<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link href="http://github.com/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="header" class="basic">
        <div class="site">
          <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="{{ page.title }}" title="{{ page.title }}"/></a>
          </div>
          <div class="download">
            <a href="{{ page.download }}" title="Download {{ page.version }}">
              <img src="/images/download.png"/>{{ page.version }}
            </a>
          </div>
        </div>
      </div>
      <div id="content" class="site">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>
    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="links">
            <a href="http://blog.binaryage.com">Blog</a> |
            <a href="http://twitter.com/binaryage">Twitter</a> |
            <a href="{{ page.support }}">Support</a> |
            <a href="{{ page.repo }}">Source Code</a>
          </div>
          <div>
            Check out more <a href="http://www.binaryage.com">tools for web developers</a>
          </div>
        </div>
        <div class="github-icon">
          <a href="{{ page.repo }}"><img title="GitHub - social code hosting" src="/images/github.png" alt="GitHub logo"/></a>
        </div>
        <div class="binary-age">
          <div>
            Produced in <a href="http://www.binaryage.com">BinaryAge</a><br/>
            <a href="http://www.binaryage.com"><img class="binaryage-logo" src="/images/binaryage-small.png" title="Binary Age" alt="BinaryAge logo"/></a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8404259-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>    
  </body>
</html>